@using litclassic.Models.WordModels

@{
    ViewData["Title"] = "Words";
}

<div class="main">
    <div class="main-panel">

        <h1>Толковый словарь живого, великорусского языка Владимира Ивановича Даля</h1>

        <form asp-action="Index" asp-controller="Word" asp-anti-forgery="true">
            @foreach (Word word in ViewBag.Words)
            {
                <h2>Слово</h2>
                <div class="LabelWordName">@word.Name</div>
                <h2>Значение слова</h2>
                <div class="LabelWordValue">@word.Value</div>

                @if (word.WordsInLinks.Count != 0)
                {
                    <h2>Упомянутые в ссылках слова</h2>

                    @foreach (Word wordInLink in word.WordsInLinks)
                    {
                        <h2>Слово</h2>
                        <div class="LabelWordName">@wordInLink.Name</div>
                        <h2>Значение слова</h2>
                        <div class="LabelWordValue">@wordInLink.Value</div>
                    }
                }
            }
        </form>

    </div>
    @Html.Partial("_Menu")  
</div>

